<div class="row">
  <div class="col-sm-4 text-right">
    <div id="task-form" class="text-left"></div>
    <%= link_to 'New Task', new_user_task_path, remote: true, class: "btn btn-md btn-primary", id: "new-button" %>
  </div>

  <div class="col-sm-8">
    <%= render 'tasks' %>
  </div>
</div>
