<p id="notice"><%= notice %></p>

<%= link_to 'New Task', new_user_task_path, remote: true, class: "btn btn-md btn-primary" %>

<div id="task-form"></div>

<div id="tasks">
  <ul>
    <%= render @user_tasks %>
  </ul>
</div>
