<div class="row">
  <div class="col-sm-4">
    <%= link_to 'New Task', new_user_task_path, remote: true, class: "btn btn-md btn-primary", id: "new-button" %>
    <div id="task-form"></div>
  </div>

  <div class="col-sm-8">
    <%= render 'tasks' %>
  </div>
</div>
